---
import BaseLayout from '@layouts/BaseLayout.astro';
const pageTitle = "Evgeniy Beskrovnyy";
---

<BaseLayout title={pageTitle}>
  <h1 class="h1">👋 Welcome!</h1>
  <p>My name is Evgeniy, and I’m 36 years old. I’m a front-end web developer who loves HTML/CSS coding, templating, JavaScript programming and UX. I am a T-shaped person. The field in which I have the most skills is HTML/CSS-coding and JavaScript programming.</p>
</BaseLayout>
