---
import BaseLayout from '@layouts/BaseLayout.astro';
const pageTitle = "Evgeniy Beskrovnyy";
---

<BaseLayout title={pageTitle}>
  <h1 class="article__title title title--h1">👋 Welcome!</h1>
  <p class="article__text">My&nbsp;name is&nbsp;Evgeniy, and I&rsquo;m 38&nbsp;years old. I&rsquo;m a&nbsp;front-end web developer who loves HTML/CSS coding, templating, JavaScript programming and UX. I&nbsp;am a&nbsp;<a class="link link--info" href="https://en.wikipedia.org/wiki/T-shaped_skills">T-shaped</a> person. The field in&nbsp;which&nbsp;I have the most skills is&nbsp;HTML/CSS-coding and JavaScript programming.</p>

  <p class="article__text">I&rsquo;ve been a&nbsp;web developer for 15&nbsp;years since 2009. I&nbsp;made rounded corners with png sprites and tables back in&nbsp;<a class="link link--info" href="https://en.wikipedia.org/wiki/Internet_Explorer_6">IE6</a> 🤓</p>

  <p class="article__text">I&nbsp;help build effective interfaces: advise on&nbsp;interface design and client optimization.</p>

  <p class="article__text">I&nbsp;love <a class="link link--info" href="/en/skills/"></a>my&nbsp;job</a>, science and scientific approach. I&nbsp;develop critical thinking and read many popular science and fiction books and books on&nbsp;my&nbsp;profession. I&rsquo;m fond of&nbsp;<a class="link link--info" href="https://www.instagram.com/evgeniy.beskrovnyy/">mobile photography</a>, interested in&nbsp;economics and investing, do&nbsp;fitness and love skiing. ❄️</p>
</BaseLayout>
