.article {
  --article-color-anchor-bg: var(--root-color-mark);
  --article-figure-width: var(--root-figure-width);

  padding-top: 30px;
  @include font(14px, 1.45);

  @include media-breakpoint-up(sm) {
    @include font(17px, 1.45);
  }

  @include media-breakpoint-up(md) {
    padding-top: 0;
    @include font(15px, 1.45);
  }

  @include media-breakpoint-up(lg) {
    padding-top: 10px;
    @include font(20px, 1.45);
  }

  @include media-breakpoint-up(xxl) {
    @include font(22px, 1.45);
  }

  &__header {
    display: grid;
    scroll-margin-top: 20px;
  }

  &__picture {
    @include media-breakpoint-up(xl) {
      width: 116%;
    }
    @include media-breakpoint-up(xxl) {
      width: 111%;
    }
    @include media-breakpoint-up(xxxl) {
      width: 106%;
    }
  }

  &__cover-pic {
    margin-bottom: 20px;
    @include media-breakpoint-down(md) {
      margin-right: calc(-1 * var(--root-side-gap));
      margin-left: calc(-1 * var(--root-side-gap));
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 28px;
    }
  }

  &__main-tags {
    margin-bottom: 20px;
  }

  &__cover {
    @include media-breakpoint-up(md) {
      border-radius: 20px;
    }
  }

  &__content {
    max-width: 860px;
  }

  &__code,
  &__content,
  &__disclamer,
  &__aside,
  &__blockquote,
  &__tags {
    margin-bottom: 30px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 40px;
    }

    @include media-breakpoint-up(xxl) {
      margin-bottom: 60px;
    }
  }

  &__title {
    margin-bottom: 12px;
    margin-top: 46px;

    @include media-breakpoint-down(md) {
      scroll-margin-top: calc(var(--root-header-h) + 20px);
    }

    @include media-breakpoint-up(md) {
      scroll-margin-top: 30px;
      margin-top: 60px;
      margin-bottom: 20px;
    }

    @include media-breakpoint-up(xxl) {
      scroll-margin-top: 40px;
      margin-top: 80px;
      margin-bottom: 24px;
    }
  }

  &__date {
    margin-bottom: 32px;
    @include font(14px, 1.45);

    @include media-breakpoint-up(md) {
      @include font(16px, 1.45);
    }

    @include media-breakpoint-up(xl) {
      @include font(18px, 1.45);
    }
  }

  &__list,
  &__text {
    margin-bottom: 20px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 24px;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 32px;
    }
  }

  &__text {
    scroll-margin-top: 20px;

    @include media-breakpoint-up(lg) {
      scroll-margin-top: 24px;
    }

    @include media-breakpoint-up(xl) {
      scroll-margin-top: 32px;
    }

    &--anchor-target:target {
      position: relative;

      &::before {
        content: '';
        opacity: 0;
        border-radius: 10px;
        position: absolute;
        inset: -10px;
        background-color: var(--article-color-anchor-bg);
        z-index: -1;
        animation-name: target-anchor;
        animation-delay: 200ms;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-fill-mode: revert;
      }
    }
  }

  &__abbr {
    margin-right: 6px;
  }
}
