.article {
  --article-figure-width: var(--root-figure-width);

  padding-top: 30px;

  @include media-breakpoint-up(md) {
    padding-top: 0;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 10px;
  }

  &__header {
    display: grid;
    gap: 12px;
  }

  &__picture {
    @include media-breakpoint-up(xxl) {
      width: var(--article-figure-width);
    }
  }

  &__content {
    max-width: 860px;
  }

  &__content,
  &__disclamer,
  &__aside,
  &__blockquote,
  &__tags {
    margin-bottom: 30px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 40px;
    }

    @include media-breakpoint-up(xxl) {
      margin-bottom: 60px;
    }
  }

  &__title {
    margin-bottom: 12px;
    margin-top: 46px;

    @include media-breakpoint-down(md) {
      scroll-margin-top: calc(var(--root-header-h) + 20px);
    }

    @include media-breakpoint-up(md) {
      scroll-margin-top: 30px;
      margin-top: 60px;
      margin-bottom: 20px;
    }

    @include media-breakpoint-up(xxl) {
      scroll-margin-top: 40px;
      margin-top: 80px;
      margin-bottom: 24px;
    }
  }

  @include font(14px, 1.45);

  @include media-breakpoint-up(sm) {
    @include font(17px, 1.45);
  }

  @include media-breakpoint-up(md) {
    @include font(15px, 1.45);
  }

  @include media-breakpoint-up(lg) {
    @include font(20px, 1.45);
  }

  @include media-breakpoint-up(xxl) {
    @include font(22px, 1.45);
  }

  &__text {
    margin-bottom: 20px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 24px;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 32px;
    }
  }

  &__abbr {
    margin-right: 6px;
  }
}
