.card {
  display: block;
  position: relative;

  &__title {
    @include font(20px, 1.45, 700);
  }

  &__description {
    @include font(16px, 1.45);
  }

  &__date {
    @include font(14px, 1.2);
  }

  &__pic {
    border-radius: 20px;
    margin-bottom: 8px;
  }

  &__link {
    position: absolute;
    inset: 0;
  }
}
