.contents {
  --contents-color-bg: var(--root-color-secondary-assistive);

  background-color: var(--contents-color-bg);

  &__link {

    &._active {
      font-weight: bold;
    }
  }

  &__title {
    margin-right: 40px;

    @include font(14px, 18px);
  }
}
