.header {
  --header-color-bg: var(--root-color-secondary);
  --header-side-gap: var(--root-side-gap);
  --header-height: var(--root-header-h);
  --header-width: var(--root-header-width);
  --header-figure-width: var(--root-figure-width);
  --header-navbar-bottom-gap: var(--root-navbar-bottom-gap);

  padding-top: 52px;
  overflow-y: auto;

  &--sticky {
    @include media-breakpoint-down(md) {
      padding: 0;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 2;
      height: var(--header-height);
      background-color: var(--header-color-bg);
      display: flex;
      justify-content: center;
      flex-direction: column;
      overflow-y: visible;
    }

    &::after {
      @include media-breakpoint-down(md) {
        content: attr(data-author);
        display: block;
        position: absolute;
        top: 16px;
        left: 72px;
        z-index: -1;
        @include font(14px, 24px, 600);
      }
    }
  }

  @include scroll;

  @include media-breakpoint-up(xxxl) {
    padding-top: 75px;
  }

  &__logo {
    @include media-breakpoint-down(xs) {
      margin-bottom: 12px;
    }
  }

  &--sticky &__logo {
    @include media-breakpoint-down(md) {
      margin-left: var(--header-side-gap);
      display: flex;
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 12px;
  }

  &--sticky &__nav {
    @include media-breakpoint-down(md) {
      position: absolute;
      left: 72px;
      top: 24px;
      margin-bottom: 0;
    }
  }

  &__lang {
    height: 44px;
    position: absolute;
    top: 0;
    right: 50px;

    @include media-breakpoint-up(lg) {
      right: var(--header-side-gap);
    }
  }

  &--sticky &__lang {
    right: var(--header-side-gap);
  }

  &__theme {
    position: fixed;
    top: 22px;
    left: var(--header-side-gap);
  }

  &--sticky &__theme {
    @include media-breakpoint-down(md) {
      position: relative;
      top: 0;
    }
  }

  &--sticky &__search {
    @include media-breakpoint-down(md) {
      position: relative;
    }
  }

  &__contents {
    @include media-breakpoint-down(md) {
      position: fixed;
      bottom: 0;
    }

    @include media-breakpoint-up(xxxl) {
      position: fixed;
      top: 42px;
      bottom: auto;
      left: calc(var(--header-width) + var(--header-figure-width));
    }
  }

  &--sticky &__contents {
    position: relative;
    
  }

  &__navbar {
    @include media-breakpoint-down(md) {
      position: fixed;
      bottom: 12px;
      right: 0;
      left: 0;
    }
  }
}

