.layout {
  --layout-color: var(--root-color-text);
  --layout-color-bg: var(--root-color-main-bg);
  --layout-side-gap: var(--root-side-gap);
  --layout-header-width: var(--root-header-width);
  --layout-header-h: var(--root-header-h);
  --layout-footer-h: var(--root-footer-h);
  --layout-page-max-width: 700px;
  --layout-figure-width: var(--root-figure-width);

  background-color: var(--layout-color-bg);
  color: var(--layout-color);
  font-family: var(--root-font-family-base);

  &._locked {
    position: fixed;
    inset: 0;
  }

  @include media-breakpoint-down(md) {
    padding-top: var(--layout-header-h);
  }

  @include media-breakpoint-up(md) {
    padding-top: 30px;
  }

  &,
  &--home {
    @include media-breakpoint-up(md) {
      padding-top: 30px;
    }
  }

  &--home {
    padding-top: 12px;
  }

  &__main,
  &__header {
    padding-left: var(--root-side-gap);
    padding-right: var(--root-side-gap);
  }

  &__main {
    padding-bottom: 40px;

    @include media-breakpoint-up(md) {
      padding-left: var(--layout-header-width);
      max-width: calc(700px + var(--layout-header-width));
      margin-left: 20px;
      padding-bottom: 60px;
    }

    @include media-breakpoint-up(xxl) {
      max-width: calc(900px + var(--layout-header-width));
      padding-bottom: 80px;
    }
  }

  &__header {
    position: relative;

    @include media-breakpoint-up(md) {
      position: fixed;
      left: 0;
      top: 20px;
      bottom: 0;
      width: var(--layout-header-width);
      padding-bottom: var(--layout-footer-h);
    }
  }

  &__footer {
    @include media-breakpoint-up(md) {
      position: fixed;
      bottom: 0;
      left: 0;
      height: var(--root-footer-h);
      width: var(--layout-header-width);
      z-index: 1;
    }
  }
}
