.logo {
  --logo-color: var(--root-color-text);
  --logo-color-border-link: var(--root-color-link);
  --logo-color-border-link-hover: var(--root-color-link-hover);
  --logo-color-border: var(--root-color-primary);
  --logo-dim: 130px;
  --logo-sticky-dim: 46px;

  @include media-breakpoint-down(xs) {
    --logo-dim: 140px;
  }

  @include media-breakpoint-up(xs) {
    --logo-dim: 130px;
  }

  @include media-breakpoint-up(md) {
    --logo-dim: 150px;
  }

  @include media-breakpoint-up(xl) {
    --logo-dim: 180px;
  }

  @include media-breakpoint-up(xxl) {
    --logo-dim: 220px;
  }

  @include media-breakpoint-up(xxxl) {
    --logo-dim: 260px;
  }

  @include media-breakpoint-between(sm, md) {
    display: grid;
    column-gap: 32px;
    grid-template-columns: min-content 1fr;
    align-items: center;
  }

  color: var(--logo-color);

  &--sticky {
    @include media-breakpoint-down(md) {
      width: var(--logo-sticky-dim);
      height: var(--logo-sticky-dim);
    }
  }

  &__pic {
    display: block;
    width: var(--logo-dim);
    height: var(--logo-dim);
    border-radius: 50%;
    border: 2px solid var(--logo-color-border);
    overflow: hidden;
    transition: border-color, border-width;
    transition-duration: var(--root-animation-duration-slow);
    margin-bottom: 12px;

    @include media-breakpoint-up(xxxl) {
      margin-bottom: 18px;
    }
  }

  &--sticky &__pic {
    @include media-breakpoint-down(md) {
      flex-shrink: 0;
      width: var(--logo-sticky-dim);
      height: var(--logo-sticky-dim);
      margin-bottom: 0;
    }
  }

  &--link {
    display: inline-block;
    text-decoration: none;

    @include hover {

      .logo__pic {
        border-color: var(--logo-color-border-link-hover);
        border-width: 6px;
      }
    }
  }

  &--link &__pic {
    border-color: var(--logo-color-border-link);
  }

  &__title {
    margin-bottom: 4px;
    @include font(20px, 25px, 600);

    @include media-breakpoint-up(lg) {
      @include font(24px, 28px, 600);
    }
  }

  &__description {
    @include font(14px, 22px);

    @include media-breakpoint-up(lg) {
      @include font(16px, 24px);
    }
  }

  &--sticky &__title,
  &--sticky &__description {
    @include media-breakpoint-down(md) {
      @include sr-only;
    }
  }
}

