.navbar {
  --navbar-color: var(--root-color-text);
  --navbar-color-button: var(--root-color-link);
  --navbar-color-button-active: var(--root-color-link-active);
  --navbar-color-button-hover: var(--root-color-link-hover);
  --navbar-list-color-bg: var(--root-color-main-bg);
  --navbar-color-border: var(--root-color-panel-assistive);
  --navbar-color-overlay: var(--root-color-overlay);
  --navbar-height: var(--root-navbar-height);
  --navbar-bottom-gap: var(--root-navbar-bottom-gap);
  --navbar-header-width: var(--root-header-width);
  --navbar-header-figure-width: var(--root-figure-width);
  --navbar-side-gap: var(--root-side-gap);
  --navbar-color-close: var(--root-color-panel-assistive);

  &--sticky {
    display: block;
  }

  &__header {
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 3;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__list {
    background-color: var(--navbar-list-color-bg);
    display: inline-flex;
    overflow: hidden;
    border-radius: 8px;
    border: 2px solid var(--navbar-color-border);
    z-index: 1;
  }

  &__close {
    display: none;
    width: 48px;
    height: 48px;
    border: none;
    position: absolute;
    background: none;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 16px;
      height: 2px;
      border-radius: 2px;
      background-color: var(--navbar-color-button);
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -8px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &--sticky &__close {
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &__item {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &__section {
    right: 0;
    left: 0;

    @include media-breakpoint-down(md) {
      position: fixed;
      padding: 20px;
      padding-bottom: calc(var(--navbar-height) + var(--navbar-bottom-gap) * 2);
      bottom: 0;
      opacity: 0;
      visibility: hidden;
      background: var(--navbar-list-color-bg);
      border: 1px solid var(--navbar-color-border);
      border-bottom: none;
      border-radius: 20px 20px 0 0;
      z-index: 2;
      transform: translateY(100%) scale(0.2);
      transition-property: transform, opacity, visibility;
      transition-duration: $animation-speed;
      transition-timing-function: $animation-function;
      box-shadow: 0 0 20px 15px rgba(0, 0, 0, 20%);
    }

    @include media-breakpoint-up(xsm) {
      max-width: 360px;
      margin-left: auto;
      margin-right: auto;
    }

    &._active {
      @include media-breakpoint-down(md) {
        opacity: 1;
        visibility: visible;
        transform: translateY(0) scale(1);
      }
    }
  }

  &__section--search {
    @include media-breakpoint-down(md) {
      
    }

    @include media-breakpoint-up(xsm) {
      max-width: 600px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    text-decoration: none;

    @include media-breakpoint-down(md) {
      border: none;
      background-color: transparent;
      gap: 4px;
      padding: 0 8px;
      height: var(--navbar-height);
      cursor: pointer;
      @include font(12px, 15px);
    }

    &::after {
      @include media-breakpoint-down(md) {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 4px 0;
        border-color: var(--navbar-color-button) transparent transparent transparent;
        transition-property: transform, border-color;
        transition-duration: $animation-speed;
        transition-timing-function: $animation-function;
      }
    }

    &._active {
      @include media-breakpoint-down(md) {
        color: var(--navbar-color-button-active);
        text-decoration-color: transparent;
      }
    }

    &._active::after {
      @include media-breakpoint-down(md) {
        color: var(--navbar-color-button-active);
        border-color: var(--navbar-color-button-active) transparent transparent transparent;
        transform: rotate(180deg);
      }
    }

    @include hover {

      &::after {
        border-color: var(--navbar-color-button-active) transparent transparent transparent;
      }
    }
  }

  &__item:first-child &__button,
  &__item:last-child &__button {
    padding-left: 16px;
    padding-right: 16px;
  }

  &__body {
    background-color: var(--navbar-list-bg);
  }

  &__overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    inset: 0;
    //background-color: var(--navbar-color-overlay);
    z-index: 2;
    //transition-property: opacity, visibility;
    //transition-duration: $animation-speed;
    //transition-timing-function: $animation-function;
  }

  ._active &__overlay {
    @include media-breakpoint-down(md) {
      opacity: 1;
      visibility: visible;
    }
  }

  &__contents {
    @include media-breakpoint-down(md) {
      position: relative;
    }

    @include media-breakpoint-up(xxxl) {
      position: fixed;
      top: 42px;
      bottom: auto;
      left: calc(var(--navbar-header-width) + var(--navbar-header-figure-width));
    }
  }

  &__theme {
    position: relative;
    top: 0;
    left: 0;

    @include media-breakpoint-up(md) {
      position: absolute;
      left: var(--navbar-side-gap);
    }
  }

  &__search {
    @include media-breakpoint-down(md) {
      position: relative;
      height: 100%;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 26px;
    }
  }

  & &__title {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }
}

