.picture {
  --pictrue-color-border: var(--root-color-panel-assistive);

  display: block;
  padding-top: 20px;
  padding-bottom: 40px;

  @include media-breakpoint-up(lg) {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  @include media-breakpoint-up(xxl) {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  &--framed &__pic {
    border: 1px solid var(--pictrue-color-border);
  }

  &__link {
    display: inline-block;
    margin-bottom: 8px;
  }

  &__pic {
    display: block;
  }

  &__caption {
    padding-left: 26px;
    @include font(14px, 1.45, italic);

    @include media-breakpoint-up(sm) {
      @include font(17px, 1.45, italic);
    }

    @include media-breakpoint-up(md) {
      @include font(15px, 1.45, italic);
    }

    @include media-breakpoint-up(lg) {
      @include font(18px, 1.45, italic);
    }

    @include media-breakpoint-up(xxl) {
      @include font(20px, 1.45, italic);
    }
  }
}
