.picture {
  --logo-color-border-link: var(--root-color-link);
  --logo-color-border-link-hover: var(--root-color-link-hover);
  --logo-color-border: var(--root-color-primary);
  --logo-dim: 20rem;

  &__pic {
    
  }
}
