.search {
  --search-header-width: var(--root-header-width);

  &__results {
    overflow-y: auto;
    position: absolute;
    inset: 0;
    top: 100px;
    visibility: hidden;
    opacity: 0;

    ._search & {
      opacity: 1;
      visibility: visible;
    }

    @include media-breakpoint-up(md) {
      position: fixed;
      inset: 0;
      left: var(--search-header-width);
      z-index: 1;
    }
  }
}
