.tag-item {
  --tag-color-border: var(--root-color-panel-assistive);
  --tag-color-bg: var(--root-color-panel-soft);
  --tag-color-qty-bg: var(--root-color-panel);
  --tag-color-qty: var(--root-color-text-disabled-assistive);
  --tag-color-current-bg: var(--root-color-mark);
  --tag-color-current-color: var(--root-color-primary);

  display: inline-block;

  @include font(14px, 1.45);

  @include media-breakpoint-up(lg) {
    @include font(16px, 1.45);
  }

  @include media-breakpoint-up(xxl) {
    @include font(18px, 1.45);
  }

  &._active &__link {
    background-color: var(--tag-color-current-bg);
    color: var(--tag-color-current-color);
  }

  &__link {
    border: 1px solid var(--tag-color-border);
    padding: 4px 10px;
    text-decoration: none;
    border-radius: 6px;
    display: block;
    background-color: var(--tag-color-bg);

    @include media-breakpoint-up(lg) {
      padding: 4px 12px;
      border-radius: 8px;
    }

    @include media-breakpoint-up(xxl) {
      border-radius: 10px;
      padding: 4px 18px;
    }
  }

  &--old &__link {

    &::before {
      content: '🚨\00a0';
    }
  }

  &--count &__link {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__qty {
    background: var(--tag-color-qty-bg);
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--tag-color-qty);
    @include font(11px, 1);
  }
}
