---
import ImgSource from '@components/ImgSource.astro';
import ThemeSwitcher from '@components/ThemeSwitcher.astro';
import MainNav from '@components/MainNav.astro';
import LangSwitcher from '@components/LangSwitcher.astro';
import Socials from '@components/Socials.astro';
import Search from '@components/Search.astro';
import Contents from '@components/Contents.astro';

import authorX2 from '@images/evgeniy-beskrovnyy.jpg';
import authorX2Dark from '@images/evgeniy-beskrovnyy_dark.jpg';

import { getLang } from '@utils/GetLang.astro';

const currentPageUrl = Astro.url.pathname;
const lang = getLang(currentPageUrl);
const isHomePage = currentPageUrl === '/' || currentPageUrl === '/en/' ;

---

<header class={`layout__header header ${!isHomePage ? 'header--sticky': ''}`}>
  <ThemeSwitcher classNames="header__theme" />
  <LangSwitcher classNames="header__lang" />
  {isHomePage ? <Fragment set:html={`<div class="header__logo logo">`} /> : <Fragment set:html={`<a href=${(lang === 'en') ? '/en/' : '/'} class="header__logo logo logo--link logo--sticky">`} /> }
    <picture class="logo__pic" data-theme-img>
      <ImgSource img={authorX2} imgDark={authorX2Dark} imgAlt={(lang === 'en') ? 'Portrait of the author' : 'Портрет Автора'} classNames="logo__img" />
    </picture>
    <div class="logo__content">
      {isHomePage ? <Fragment set:html={`<h1 class="logo__title">`} /> : <Fragment set:html={`<p class="logo__title">`} /> }
        {
          (getLang(currentPageUrl) === 'en') ? 
          ('Evgeniy Beskrovnyy') : 
          ('Евгений Бескровный')
        }
      {isHomePage ? <Fragment set:html={`</h1>`} /> : <Fragment set:html={`</p>`} /> }
      <p class="logo__description">
        {
          (getLang(currentPageUrl) === 'en') ? 
          ('Web developer. HTML/CSS/JS/UX.') : 
          ('Веб-разработчик. HTML/CSS/JS/UX.')
        }
      </p>
    </div>
  {isHomePage ? <Fragment set:html={`</div>`} /> : <Fragment set:html={`</a>`} /> }
  <MainNav classNames="header__nav" />
  {(currentPageUrl === '/' || currentPageUrl === '/en/') && (<Socials />)}
  {(lang === 'ru') && (<Search classNames="header__search" />)}

  <Contents classNames="header__contents" />
</header>

