---
import Pic from '../Pic.astro';

import evgeniyBeskrovnyy from '../../assets/images/evgeniy-beskrovnyy.jpg';
import evgeniyBeskrovnyyX2 from '../../assets/images/evgeniy-beskrovnyy@2x.jpg';
---

<header class="layout__header">
  <a href="/" class="logo">
    <Pic image={evgeniyBeskrovnyy} imageX2={evgeniyBeskrovnyyX2} imgAlt="Портрет Автора" classNames="logo__pic" />
  </a>
</header>
