---
import ImgSource from '../ImgSource.astro';
import ThemeSwitcher from '../ThemeSwitcher.astro';
import MainNav from '../MainNav.astro';

import authorX2 from '../../assets/images/evgeniy-beskrovnyy.jpg';

import authorX2Dark from '../../assets/images/evgeniy-beskrovnyy_dark.jpg';

const currentPageUrl = Astro.url.pathname;
const isHomePage = currentPageUrl === '/';

---
<header class="layout__header">
  {isHomePage ? <Fragment set:html={`<div class="logo">`} /> : <Fragment set:html={`<a href="/" class="logo logo--link">`} /> }
    <picture class="logo__pic" data-theme-img>
      <ImgSource img={authorX2} imgDark={authorX2Dark} imgAlt="Портрет Автора" classNames="logo__img" />
    </picture>
  {isHomePage ? <Fragment set:html={`</div>`} /> : <Fragment set:html={`</a>`} /> }
  <ThemeSwitcher />

  <MainNav />
</header>


