---
const {title} = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <title>{title}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content={Astro.generator} />

  <link rel="apple-touch-icon" href="/favicon/touchicon-152.png">
  <link rel="icon" href="/favicon/favicon-96.png">
</head>
