---
import ImgSource from '../ImgSource.astro';

import evgeniyBeskrovnyyX2 from '../../assets/images/evgeniy-beskrovnyy.jpg';

import evgeniyBeskrovnyyX2Dark from '../../assets/images/evgeniy-beskrovnyy_dark.jpg';
---

<header class="layout__header">
  <a href="/" class="logo">
    <picture class="logo__pic">
      <ImgSource img={evgeniyBeskrovnyyX2} imgDark={evgeniyBeskrovnyyX2Dark} imgAlt="Портрет Автора" classNames="logo__img" />
    </picture>
  </a>
</header>
