---
import ImgSource from '../ImgSource.astro';
import ThemeSwitcher from '../ThemeSwitcher.astro';

import authorX2 from '../../assets/images/evgeniy-beskrovnyy.jpg';

import authorX2Dark from '../../assets/images/evgeniy-beskrovnyy_dark.jpg';
---

<header class="layout__header">
  <a href="/" class="logo">
    <picture class="logo__pic" data-theme-img>
      <ImgSource img={authorX2} imgDark={authorX2Dark} imgAlt="Портрет Автора" classNames="logo__img" />
    </picture>
  </a>
  <ThemeSwitcher />
</header>


