---


import BaseLayout from '../layouts/BaseLayout.astro';

import mailImg from '../assets/images/svg/email.svg';

import { Icon } from 'astro-icon';
import { Sprite } from 'astro-icon';

const pageTitle = "Знания и умения";
---

<BaseLayout title={pageTitle}>
  <main class="layout__main">
    <h1 class="h1">🌈 Мои увлечения и&nbsp;интересы</h1>
    <p>Веб-разработка для меня, в&nbsp;первую очередь&nbsp;&mdash; интересное занятие, а&nbsp;уже во&nbsp;вторую&nbsp;&mdash; источник дохода. Как писал Лев Николаевич Толстой: <q>Счастье не&nbsp;в&nbsp;том, чтобы делать всегда, что хочешь, а&nbsp;в&nbsp;том, чтобы всегда хотеть того, что делаешь</q>.</p>
				
		<p>Мне всегда хочется что-то кодить, решать интерфейсные задачи, в&nbsp;чем-то разбираться, исследовать и&nbsp;изучать новое. Но&nbsp;если постоянно заниматься одним делом без отдыха, можно легко перегореть, даже если интересно и&nbsp;не&nbsp;надоедает. Из-за выгорания упадет продуктивность и&nbsp;работа перестанет радовать. Нужно уметь переключаться и&nbsp;отвлекаться на&nbsp;другие занятия&nbsp;&mdash; это и&nbsp;есть отдых.</p>
			
		<p>Еще важно расширять кругозор и&nbsp;не&nbsp;забывать о&nbsp;физическом здоровье. В&nbsp;этом мне помогают увлечения: чтение научно-популярных и&nbsp;художественных книг; занятие мобильной фотографией; изучение крипторынка и&nbsp;инвестирование; кино и&nbsp;компьютерные игры; силовые тренировки и&nbsp;катание на&nbsp;горных лыжах в&nbsp;сезон.</p>
  </main>
  
</BaseLayout>
