---
import BaseLayout from '../layouts/BaseLayout.astro';

import Picture from '../components/Picture.astro';
import { Sprite } from 'astro-icon';

import imgTheNakedApeCover from '../assets/images/content/hobbies/books/the-naked-ape-cover.jpg';
import photoSunset from '../assets/images/content/hobbies/photo/sunset.jpg';


const pageTitle = "Знания и умения";
---

<BaseLayout title={pageTitle}>
  <main class="layout__main">
    <h1 class="h1">🌈 Мои увлечения и&nbsp;интересы</h1>
    <p>Веб-разработка для меня, в&nbsp;первую очередь&nbsp;&mdash; интересное занятие, а&nbsp;уже во&nbsp;вторую&nbsp;&mdash; источник дохода. Как писал Лев Николаевич Толстой: <q>Счастье не&nbsp;в&nbsp;том, чтобы делать всегда, что хочешь, а&nbsp;в&nbsp;том, чтобы всегда хотеть того, что делаешь</q>.</p>
        
    <p>Мне всегда хочется что-то кодить, решать интерфейсные задачи, в&nbsp;чем-то разбираться, исследовать и&nbsp;изучать новое. Но&nbsp;если постоянно заниматься одним делом без отдыха, можно легко перегореть, даже если интересно и&nbsp;не&nbsp;надоедает. Из-за выгорания упадет продуктивность и&nbsp;работа перестанет радовать. Нужно уметь переключаться и&nbsp;отвлекаться на&nbsp;другие занятия&nbsp;&mdash; это и&nbsp;есть отдых.</p>
      
    <p>Еще важно расширять кругозор и&nbsp;не&nbsp;забывать о&nbsp;физическом здоровье. В&nbsp;этом мне помогают увлечения: чтение научно-популярных и&nbsp;художественных книг; занятие мобильной фотографией; изучение крипторынка и&nbsp;инвестирование; кино и&nbsp;компьютерные игры; силовые тренировки и&nbsp;катание на&nbsp;горных лыжах в&nbsp;сезон.</p>

    <section class="section">
      <h2 id="books" class="title">
        <span class="title__content">
          📖 Книги
          <a href="#books" class="title__link">
            <span class="title__label">якорь на раздел</span>
            <Sprite name="chain" width="24" height="24" aria-hidden="true" />
          </a>
        </span>
      </h2>

      <figure class="blockquote">
        <blockquote class="blockquote__body">
          <p>&laquo;Книги подобны вампирам. Они лежат на&nbsp;пустых пыльных полках и&nbsp;только и&nbsp;ждут одного лишь момента... когда вы&nbsp;возьмете их&nbsp;в&nbsp;руки, и&nbsp;они всосутся вам в&nbsp;душу&raquo;</p>
        </blockquote>
        <figcaption class="blockquote__caption"><cite class="blockquote__cite"><a href="https://www.livelib.ru/book/1000214208-polet-vampira-zametki-o-prochitannom-mishel-turne">&laquo;Полет вампира. Заметки о&nbsp;прочитанном&raquo;</a></cite> <a href="https://ru.wikipedia.org/wiki/%D0%A2%D1%83%D1%80%D0%BD%D1%8C%D0%B5,_%D0%9C%D0%B8%D1%88%D0%B5%D0%BB%D1%8C">Мишель Турнье</a></figcaption>
      </figure>

      <p>О&nbsp;том, зачем читать книги я&nbsp;не&nbsp;смогу сказать лучше, чем профессор литературы и&nbsp;доктор филологических наук <a href="https://ru.wikipedia.org/wiki/%D0%96%D0%B0%D1%80%D0%B8%D0%BD%D0%BE%D0%B2,_%D0%95%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D0%B9_%D0%92%D0%B8%D0%BA%D1%82%D0%BE%D1%80%D0%BE%D0%B2%D0%B8%D1%87">Евгений Жаринов</a> в&nbsp;своем <a href="https://www.youtube.com/watch?v=a7sdEZr5rqY&list=PLXh_N2NkDROm3NfRMaAzvIfUFSFpxw9qJ">напутствии для читателя</a>, поэтому просто поделюсь своими соображениями на&nbsp;этот счет.</p>

      <p>Я&nbsp;читаю книги с&nbsp;самого детства. Любовь к&nbsp;чтению мне привил мой дед&nbsp;&mdash; один из&nbsp;лучших хирургов-травматологов области. Он&nbsp;серьезно занимался шахматами и&nbsp;имел обширную библиотеку литературы по&nbsp;этой игре, медицине и&nbsp;много художестенных книг. На&nbsp;летних каникулах, приезжая погостить, я&nbsp;бывало подолгу изучал огромные полки во&nbsp;всю стену до&nbsp;потолка, такое количество книг завораживало.</p>

      <p>Полюбил читать я&nbsp;не&nbsp;сразу, это не&nbsp;взялось просто так из&nbsp;ниоткуда. Мне, школьнику начальных классов, всегда хотелось больше гулять, а&nbsp;не&nbsp;сидеть уткнувшись в&nbsp;книгу, но&nbsp;дед знал действенный метод. Мне просто сообщалось о&nbsp;том, что пока не&nbsp;прочитаю столько то&nbsp;страниц, никуда гулять не&nbsp;пойду. Приходилось с&nbsp;трудом продираться сквозь бесконечные 20&nbsp;или даже целых 30&nbsp;страниц на&nbsp;волю, к&nbsp;друзьям во&nbsp;двор. Но&nbsp;идея была не&nbsp;в&nbsp;принуждении читать абы что, а&nbsp;в&nbsp;том, чтобы дать возможность получить удовольствие от&nbsp;прочитанного. Дед не&nbsp;подсовывал мне шахматной литературы, медицинских справочников или нудную для маленького человека художественную классику, я&nbsp;читал книги о&nbsp;приключениях, охоте за&nbsp;сокровищами и&nbsp;путешествиях, это увлекало и&nbsp;развивало воображение. Со&nbsp;временем я&nbsp;уже не&nbsp;спешил сломя голову во&nbsp;двор, читать было тоже интересно. Игры и&nbsp;друзья никуда не&nbsp;делись, но&nbsp;и&nbsp;с&nbsp;книгами я&nbsp;подружился на&nbsp;всю жизнь. Я&nbsp;искренне благодарен своему деду за&nbsp;это. И&nbsp;да, в&nbsp;шахматы он&nbsp;играть меня все&nbsp;же научил.</p>
      <p>Мало любить читать и&nbsp;делать это постоянно, нужно уметь разбираться в&nbsp;том, что читать. Я&nbsp;познаю окружающую действительность с&nbsp;помощью научной картины мира, ведь всему что нас окружает, делает жизнь легче, приятнее и&nbsp;дольше&nbsp;&mdash; мы&nbsp;обязаны науке.</p>

      <p>Я&nbsp;много читаю научно-популярной литературы, смотрю научно-популярные лекции и&nbsp;фильмы. Мне особенно интересны антропология и&nbsp;антропогенез&nbsp;&mdash; эти науки рассказывают о&nbsp;том, как эволюционирует и&nbsp;развивается современный человек и&nbsp;общество в&nbsp;целом. А&nbsp;что может быть интереснее знаний о&nbsp;собственном виде, его биологии и&nbsp;поведении? Мне всегда было интересно откуда взялись люди, зачем мы&nbsp;существуем, почему мы&nbsp;именно такие и&nbsp;что нами движет. На&nbsp;все эти вопросы понятно и&nbsp;обстоятельно отвечает наука.</p>

      <p>Научной картине мира я&nbsp;следовал не&nbsp;всегда. На&nbsp;ранних этапах взросления, будучи студентом, я&nbsp;как слепой котенок тыкался в&nbsp;разное мракобесие. Жажда познания заводила меня даже в&nbsp;популярную психологию и&nbsp;изотерику. Пытаясь понять описанные выше вопросы, я&nbsp;читал много всяких книг о&nbsp;популярной психологии и&nbsp;изотерике, не&nbsp;имеющих ничего общего с&nbsp;наукой и&nbsp;неявляющихся предметом культурной ценности. Подобные мракобесные книги перемежались с&nbsp;легкой художественной и&nbsp;разной мотивационной литературой. Но&nbsp;я&nbsp;не&nbsp;переставал искать, задавать вопросы, быть любопытным и&nbsp;постепенно все-таки пришел к&nbsp;научной картине мира.</p>

      <p>Впервые с&nbsp;научно-популярной литературой я&nbsp;познакомился через книгу Десмонда Морриса &laquo;<a href="https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D0%BB%D0%B0%D1%8F_%D0%BE%D0%B1%D0%B5%D0%B7%D1%8C%D1%8F%D0%BD%D0%B0">Голая обезьяна</a>&raquo; (<a href="https://en.wikipedia.org/wiki/The_Naked_Ape">англ.</a> The Naked Ape: A Zoologist's Study of the Human Animal) , изданную в&nbsp;1967&nbsp;году. Эта неновая и&nbsp;во&nbsp;многих местах устаревшая книга, открыла мне удивительный, сложный и&nbsp;невероятно интересный мир науки и&nbsp;научного знания об&nbsp;устройстве окружающей действительности. Читая книгу, я&nbsp;гуглил, читал о&nbsp;теориях и&nbsp;ученых, упоминавшихся в&nbsp;книге, знакомисля с&nbsp;их&nbsp;трудами. Постепенно начал более-менее сносно ориентироваться в&nbsp;современном антропологическом научном сообществе, читать <a href="https://ru.wikipedia.org/wiki/%D0%94%D0%BE%D0%BA%D0%B8%D0%BD%D0%B7,_%D0%A0%D0%B8%D1%87%D0%B0%D1%80%D0%B4">Ричарда Докинза</a>, <a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D1%80%D0%BA%D0%BE%D0%B2,_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B8%D1%87_(%D0%B1%D0%B8%D0%BE%D0%BB%D0%BE%D0%B3)">Александра Маркова</a>, <a href="https://ru.wikipedia.org/wiki/%D0%94%D1%80%D0%BE%D0%B1%D1%8B%D1%88%D0%B5%D0%B2%D1%81%D0%BA%D0%B8%D0%B9,_%D0%A1%D1%82%D0%B0%D0%BD%D0%B8%D1%81%D0%BB%D0%B0%D0%B2_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B8%D1%87">Станислава Дробышевского</a>, <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%B5%D0%BB%D1%8C%D1%84%D0%B0%D0%BD%D0%B4,_%D0%9C%D0%B8%D1%85%D0%B0%D0%B8%D0%BB_%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B5%D0%B2%D0%B8%D1%87">Михаила Гельфанда</a>, <a href="https://ru.wikipedia.org/wiki/%D0%9A%D0%B0%D0%B7%D0%B0%D0%BD%D1%86%D0%B5%D0%B2%D0%B0,_%D0%90%D1%81%D1%8F">Асю Казанцеву</a>, <a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B0%D0%BD%D1%87%D0%B8%D0%BD,_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80_%D0%AE%D1%80%D1%8C%D0%B5%D0%B2%D0%B8%D1%87">Александра Панчина</a>, <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D0%BF%D0%BE%D0%BB%D1%8C%D1%81%D0%BA%D0%B8,_%D0%A0%D0%BE%D0%B1%D0%B5%D1%80%D1%82">Роберта Сапольски</a> и&nbsp;других ученых генетиков, биологов, зоологов, антропологов и&nbsp;популяризаторов науки. Через антропологию для меня открылись и&nbsp;другие области научных знаний, я&nbsp;познакомился с&nbsp;такими авторами как <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%B0%D0%B3%D0%B0%D0%BD,_%D0%9A%D0%B0%D1%80%D0%BB">Карл Саган</a>, <a href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D0%B9%D1%81%D0%BE%D0%BD,_%D0%9D%D0%B8%D0%BB_%D0%94%D0%B5%D0%B3%D1%80%D0%B0%D1%81%D1%81">Нил Деграс Тайсон</a>, <a href="https://ru.wikipedia.org/wiki/%D0%A5%D0%BE%D0%BA%D0%B8%D0%BD%D0%B3,_%D0%A1%D1%82%D0%B8%D0%B2%D0%B5%D0%BD">Стивен Хокинг</a> и&nbsp;многими другими, всех и&nbsp;не&nbsp;перечислишь.</p>

      <Picture 
        img={imgTheNakedApeCover}
        caption="Суперобложка книги «Голая обезьяна»"
        imgAlt="Черно-белое фото: Десмонд Моррис держит лемура с большими глазами. Надпись по-английски The Naked Ape на черном фоне." 
        classNames="picture--wide" 
      />

      <p>Сейчас моя <a href="https://monocler.ru/antibiblioteka-umberto-eko-pochemu-neprochitannyie-knigi-vazhnee-prochitannyih/">антибиблиотека</a> насчитывает <a href="https://www.livelib.ru/reader/Afider/selections">больше 250&nbsp;книг</a>. По&nbsp;мере того, как я&nbsp;что-то читаю или смотрю, в&nbsp;поле зрения появляются новые книги из&nbsp;которых пополняется ридлист. Осенью 2020 года я&nbsp;завел телеграм-канал <a href="https://t.me/beskrovnyy_books">@beskrovnyy_books</a>, где публикую книги, которые прочитал или хочу прочесть. Очень рекомендую <a href="https://evolutionfund.ru/project/1">книги</a> фонда &laquo;Эволюция&raquo; и&nbsp;<a href="https://www.corpus.ru/products/dmitry-zimin-proyekty/">Книжные проекты Дмитрия Зимина</a>.</p>

      <p>Критическое мышление&nbsp;&mdash; это не&nbsp;что-то, что можно воспитать в&nbsp;себе за&nbsp;какой-то известный промежуток времени, это процесс длящийся всю жизнь, это большая работа. Это процесс, перефразируя классика, в&nbsp;котором нужно выдавливать из&nbsp;себя по&nbsp;капли обскурантизм, обсусловленный ленностью нашего мозга. Здесь ситуация подобна изучению иностранного языка. Если не&nbsp;практиковаться и&nbsp;не&nbsp;использовать новый язык, он&nbsp;начнет увядать и&nbsp;деградировать как цветок на&nbsp;подоконнике, который перестали поливать.</p>

      <p>Мракобесие может прорываться иногда и&nbsp;ко&nbsp;мне. Например, не&nbsp;так давно в&nbsp;мое инфополе проник <a href="https://ru.wikipedia.org/wiki/%D0%9A%D1%83%D1%80%D0%BF%D0%B0%D1%82%D0%BE%D0%B2,_%D0%90%D0%BD%D0%B4%D1%80%D0%B5%D0%B9_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B8%D1%87">Андрей Курпатов</a>&nbsp;&mdash; напыщенный нарцисс, шоумэн и&nbsp;лжеученый, не&nbsp;имеюций никаких научных званий и&nbsp;никак не&nbsp;относящийся к&nbsp;научному сообществу. Настоящие ученые воспринимают его как шута, делающего вид, что он&nbsp;что-то понимает в&nbsp;психологии и&nbsp;психике человека. Недавно он&nbsp;<a href="https://www.youtube.com/watch?v=QmUq_TMiCIk">получил</a> шуточную премию <a href="https://vral.li/">Почетный академик ВРАЛ</a> от&nbsp;одного из&nbsp;российских научно-популярных сообществ <a href="https://antropogenez.ru/">antropogenez.ru</a>. Мне даже довелось прочесть по&nbsp;неосторожности пару его книг по&nbsp;поводу чего я&nbsp;испытываю лишь сожаление о&nbsp;впустую потраченном времени. Чтобы не&nbsp;нарываться на&nbsp;подобных фриков и&nbsp;лжеученых, нужно с&nbsp;недоверием относиться к&nbsp;любому источнику, смотреть его критику и&nbsp;то, как поспринимают его в&nbsp;научном сообществе.</p>

      <p>Читать одни только научно-популярные книги для гармоничного развития личности недостаточно. Для развития словарного запаса, языка, культуры и&nbsp;воображения важно знакомиться с&nbsp;художественными произведениями. Сейчас я&nbsp;читаю художественную литературу и&nbsp;нонфикшен примерно равными частями от&nbsp;всего времени, которое уделяю книгам. Мне нравится научная фантастика: <a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B5%D0%BC,_%D0%A1%D1%82%D0%B0%D0%BD%D0%B8%D1%81%D0%BB%D0%B0%D0%B2">Станислав Лем</a>, <a href="https://ru.wikipedia.org/wiki/%D0%90%D0%B7%D0%B8%D0%BC%D0%BE%D0%B2,_%D0%90%D0%B9%D0%B7%D0%B5%D0%BA">Айзек Азимов</a>, <a href="https://ru.wikipedia.org/wiki/%D0%91%D1%80%D0%B0%D1%82%D1%8C%D1%8F_%D0%A1%D1%82%D1%80%D1%83%D0%B3%D0%B0%D1%86%D0%BA%D0%B8%D0%B5">Стругацкие</a>, <a href="https://ru.wikipedia.org/wiki/%D0%A3%D0%BE%D1%82%D1%82%D1%81,_%D0%9F%D0%B8%D1%82%D0%B5%D1%80">Питер Уоттс</a>, <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%B5%D1%80%D0%B1%D0%B5%D1%80%D1%82,_%D0%A4%D1%80%D1%8D%D0%BD%D0%BA">Фрэнк Герберт</a>, <a href="https://ru.wikipedia.org/wiki/%D0%94%D0%B8%D0%BA,_%D0%A4%D0%B8%D0%BB%D0%B8%D0%BF_%D0%9A%D0%B8%D0%BD%D0%B4%D1%80%D0%B5%D0%B4">Филип К. Дик</a>&zwnj; и&nbsp;многие другие.</p>
      <p>В&nbsp;художественной книге важен не&nbsp;только сюжет, но&nbsp;и&nbsp;слог, я&nbsp;люблю получать удовольствие от&nbsp;прозы на&nbsp;родном языке. Ни&nbsp;один перевод не&nbsp;сравнится с&nbsp;оригиналом, который написал сам автор на&nbsp;своем родном языке, если, конечно, переводчиком не&nbsp;выступает он&nbsp;же, как это случилось с&nbsp;&laquo;<a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%BE%D0%BB%D0%B8%D1%82%D0%B0_(%D1%80%D0%BE%D0%BC%D0%B0%D0%BD)">Лолитой</a>&raquo;, которую <a href="https://ru.wikipedia.org/wiki/%D0%9D%D0%B0%D0%B1%D0%BE%D0%BA%D0%BE%D0%B2,_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B8%D1%87">Владимир Набоков</a> сам перевел на&nbsp;свой родной русский язык. По&nbsp;владению слогом мне очень нравятся Владимир Набоков, <a href="https://ru.wikipedia.org/wiki/%D0%97%D0%B0%D0%BC%D1%8F%D1%82%D0%B8%D0%BD,_%D0%95%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D0%B9_%D0%98%D0%B2%D0%B0%D0%BD%D0%BE%D0%B2%D0%B8%D1%87">Евгений Замятин</a> и&nbsp;<a href="https://ru.wikipedia.org/wiki/%D0%A7%D0%B5%D1%85%D0%BE%D0%B2,_%D0%90%D0%BD%D1%82%D0%BE%D0%BD_%D0%9F%D0%B0%D0%B2%D0%BB%D0%BE%D0%B2%D0%B8%D1%87">Антон Павлович Чехов</a>. Но&nbsp;я&nbsp;не&nbsp;пренебрегаю и&nbsp;современниками, читаю <a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%BD,_%D0%92%D0%B8%D0%BA%D1%82%D0%BE%D1%80_%D0%9E%D0%BB%D0%B5%D0%B3%D0%BE%D0%B2%D0%B8%D1%87">Виктора Пелевина</a>, <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%BB%D1%83%D1%85%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9,_%D0%94%D0%BC%D0%B8%D1%82%D1%80%D0%B8%D0%B9_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B5%D0%B5%D0%B2%D0%B8%D1%87">Дмитрия Глуховского</a>, <a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%BE%D1%80%D0%BE%D0%BA%D0%B8%D0%BD,_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80_%D0%93%D0%B5%D0%BE%D1%80%D0%B3%D0%B8%D0%B5%D0%B2%D0%B8%D1%87">Владимира Сорокина</a>&zwnj; и&nbsp;многих других. Обычно я&nbsp;читаю несколько книг параллельно, например, одну по&nbsp;профессии, вторую по&nbsp;интересам и&nbsp;одну-две художественных.</p>

      <p>Книги и&nbsp;чтение для меня&nbsp;&mdash; способ развивать свое восприятие окружающей действительности. Это можно сравнить с&nbsp;обучением нейросети. Чем больше на&nbsp;вход подаешь качественной информации, тем сложнее, обширнее и&nbsp;больше создается связей и&nbsp;принятие решений становится качественнее и&nbsp;точнее. Так и&nbsp;с&nbsp;мозгом, чем больше через сознание проходит хороших книг и&nbsp;качественной информации, тем причудливее и&nbsp;больше образуется связей между нейронами, усложняются структуры, растут возможности воображения, окружающий мир и&nbsp;события в&nbsp;нем воспринимаются полнее, связнее и&nbsp;ярче.</p>

    </section>

    <section class="section">
      <h2 id="photography" class="title">
        <span class="title__content">
          📸 Мобильная фотография
          <a href="#photography" class="title__link">
            <span class="title__label">якорь на раздел</span>
            <Sprite name="chain" width="24" height="24" aria-hidden="true" />
          </a>
        </span>
      </h2>

      <p>Тягу к&nbsp;фотографии я&nbsp;испытывал давно, еще в&nbsp;2013 году завел инстаграм и&nbsp;начал фотографировать не&nbsp;помышляя ни&nbsp;о&nbsp;какой композиции и&nbsp;технике. Осознанно мне захотелось познакомиться с&nbsp;профессиональным миром фотографии лишь весной 2019&nbsp;года, в&nbsp;мою первую поездку в&nbsp;Грузию. Во&nbsp;время путешествия в&nbsp;другую страну я&nbsp;видел много достопримечательностей, интересных культурных особенностей и&nbsp;людей, все это часто хотелось запечатлеть. Я&nbsp;пытался фотографировать, но&nbsp;получались как всегда посредственные туристические снимки очередного храма или фасада сдания. Я&nbsp;наконец-то начал понимать, что снимаю какой-то посредственный даже не&nbsp;ширпотреб и&nbsp;по&nbsp;приезду домой, разбирая очередную гору фотографий, захотелось научиться снимать на&nbsp;любительском уровне, чтобы мои работы мне нравились и&nbsp;не&nbsp;выглядели хотя&nbsp;бы на&nbsp;первый взгляд по-дилетантски.</p>

      <Picture 
        img={photoSunset}
        caption={'<a href="https://www.instagram.com/p/Bzlrslsn4CC/" class="link">Закат на&nbsp;левом берегу Дона</a>, Ворошиловский мост. Ростов-на-Дону.'}
        imgAlt="Закатное солнце из под моста пробивается сквозь стеклянный звуковой отбойник перед опорой моста" 
        classNames="picture--wide" 
      />

    </section>
  </main>
</BaseLayout>
