---
import { getLang } from '@utils/GetLang.astro';
import { Sprite } from 'astro-icon';

const currentPageUrl = Astro.url.pathname;

---

<a href={(getLang(currentPageUrl) === 'en') ? ('/') : ('/en/')} class="lang link link--nav">
  <Sprite name="lang" width="20" height="20" class="lang__icon" />
  {
    (getLang(currentPageUrl) === 'en') ? 
    ('Русский') : 
    ('English')
  }
</a>
