---
import { getLang } from '@utils/GetLang.astro';
import { Sprite } from 'astro-icon';

let {classNames} = Astro.props;
const currentPageUrl = Astro.url.pathname;

(classNames === undefined) ? classNames = '' : classNames;
---

<a href={(getLang(currentPageUrl) === 'en') ? ('/') : ('/en/')} class={`${classNames} lang link link--nav`}>
  <Sprite name="lang" width="18" height="18" class="lang__icon" />
  {
    (getLang(currentPageUrl) === 'en') ? 
    ('Русский') : 
    ('English')
  }
</a>
