---
import { getLang } from '@utils/GetLang.astro';
import { Sprite } from 'astro-icon';

let {classNames} = Astro.props;
const currentPageUrl = Astro.url.pathname;
const isHomePage = currentPageUrl === '/' || currentPageUrl === '/en/' ;

(classNames === undefined) ? classNames = '' : classNames;
---
<a href={(getLang(currentPageUrl) === 'en') ? ('/') : ('/en/')} class={`${classNames} lang ${!isHomePage ? 'lang--sticky': ''} link link--nav`} data-text={(getLang(currentPageUrl) === 'en') ? ('Рус') : ('Eng')}>
  <Sprite name="lang" class="lang__icon" />
  <div class="lang__text">
    {
      (getLang(currentPageUrl) === 'en') ? 
      ('Русский') : 
      ('English')
    }
  </div>
</a>
