---
import { getLang } from '@utils/GetLang.astro';
import { Sprite } from 'astro-icon';

let {classNames} = Astro.props;
const currentPageUrl = Astro.url.pathname;

(classNames === undefined) ? classNames = '' : classNames;
---
<nav class={`${classNames} nav`}>
  <ul class="nav__list">
    {
      (getLang(currentPageUrl) === 'en') ? (
        <li class={(currentPageUrl === '/en/') ? 'nav__item _active': 'nav__item'}>
          <a href="/en/" class="nav__link link link--nav">Home</a>
        </li>
        <li class={(currentPageUrl === '/en/skills/') ? 'nav__item _active': 'nav__item'}>
          <a href="/en/skills/" class="nav__link link link--nav">Skills</a>
        </li>
      ) : (
      <li class={(currentPageUrl === '/skills/') ? 'nav__item _active': 'nav__item'}>
        <a href="/skills/" class="nav__link link link--nav">Что умею</a>
      </li>
      <li class={(currentPageUrl === '/hobbies/') ? 'nav__item _active': 'nav__item'}>
        <a href="/hobbies/" class="nav__link link link--nav">Увлечения</a>
      </li>
      )
    }
    {
      (currentPageUrl === '/') && (
      <li class="nav__item">
        <a href="https://career.habr.com/beskrovnyy" class="nav__link link link--nav">
          <Sprite name="habr" class="nav__habr" />
          Резюме
        </a>
        </li>
      )
    }
    {
      getLang(currentPageUrl) === 'ru' ? (
      <li class={(currentPageUrl === '/blog/') ? 'nav__item _active': 'nav__item'}>
        <a href="/blog/" class="nav__link link link--nav">Блог</a>
      </li>
      ) : ''
    }
  </ul>
</nav>
