:root {
  // Light Theme Colors
  --root-color-primary: #000;
  --root-color-primary-assistive: #c7ced5;
  --root-color-secondary: #fff;

  // system-colors
  --root-color-system-active: #f00;
  --root-color-system-visited: rgb(144 29 173);

  // text-colors
  --root-color-text: var(--root-color-primary);

  // link-colors
  --root-color-link: rgb(5 81 164);
  --root-color-link-border: rgba(5 81 164 / 40%);
  --root-color-link-hover: var(--root-color-system-active);
  --root-color-link-active: var(--root-color-system-active);
  --root-color-link-active-border: rgba(255 0 0 / 87%);
  --root-color-link-visited: var(--root-color-system-visited);
  --root-color-link-visited-border: rgba(144 29 173 40%);

  // Font
  --root-font-family-base: 'PTSans', sans-serif;

  // Animations
  --root-animation-delay: 0.15s;
  --root-animation-duration-slow: 0.5s;
  --root-animation-duration: 0.3s;
  --root-animation-duration-fast: 0.2s;
}

._THEME-DARK:root {
  // Dark Theme Colors
  --root-color-primary: #fff;
  --root-color-primary-assistive: #c7ced5;
  --root-color-secondary: #000;

  // system-colors
  --root-color-system-visited: rgb(212 129 233);

  // text-colors
  --root-color-text: var(--root-color-primary-assistive);

  // link-colors
  --root-color-link: #4da2ff;
  --root-color-link-border: rgba(77 163 255 / 88%);
  --root-color-link-visited: var(--root-color-system-visited);
  --root-color-link-visited-border: rgba(230 178 243 / 40%);
}

