@import 'mixins';

$grid-breakpoints: (
  zero: 0,
  xs: 320px,
  xsm: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1760px
);

$basic-font-family: 'Roboto', 'Arial', sans-serif;
$code-font-family: 'JetBrains Mono', monospace, monospace;
$animation-speed: 300ms;
$animation-function: ease;
$page-max-width: 1200px;

:root {
  // Light Theme Colors
  --root-color-primary: #000;
  --root-color-primary-assistive: #060120;
  --root-color-secondary: #fff;
  --root-color-panel: #f2eeee;
  --root-color-text-disabled: #bab8b8;
  --root-color-mark: #f3e418;

  // system-colors
  --root-color-system-active: #f00;
  --root-color-system-visited: rgb(144 29 173);

  // text-colors
  --root-color-text: var(--root-color-primary);

  // link-colors
  --root-color-link: rgb(5 81 164);
  --root-color-link-border: rgba(5 81 164 / 40%);
  --root-color-link-hover: var(--root-color-system-active);
  --root-color-link-active: var(--root-color-system-active);
  --root-color-link-active-border: rgba(255 0 0 / 87%);
  --root-color-link-visited: var(--root-color-system-visited);
  --root-color-link-visited-border: rgba(144 29 173 40%);

  // Socials colors
  --root-color-linkedin: #0966c2;
  --root-color-instagram: #e1306c;
  --root-color-github: #060120;
  --root-color-email: #833ab4;
  --root-color-twitter: #1da1f2;
  --root-color-vk: #45668e;
  --root-color-phone: #4e9946;
  --root-color-telegram: #40b3e0;

  // Font
  --root-font-family-base: 'PTSans', sans-serif;

  // Animations
  --root-animation-delay: 0.15s;
  --root-animation-duration-slow: 0.5s;
  --root-animation-duration: 0.3s;
  --root-animation-duration-fast: 0.2s;

  // Dimentions
  --root-side-gap: 16px;
  --root-header-h: 76px;
  --root-figure-width: 1000px;
  --root-header-width: 320px;

  @include media-breakpoint-up(md) {
    --root-side-gap: 24px;
  }

  @include media-breakpoint-up(xl) {
    --root-side-gap: 40px;
  }
}

._THEME-DARK:root {
  // Dark Theme Colors
  --root-color-primary: #fff;
  --root-color-primary-assistive: #c7ced5;
  --root-color-secondary: #000;
  --root-color-secondary-assistive: #100b26;
  --root-color-panel: #042053;
  --root-color-text-disabled: #0b38cd;
  --root-color-mark: #f2ee6a;

  // system-colors
  --root-color-system-visited: rgb(212 129 233);

  // text-colors
  --root-color-text: var(--root-color-primary-assistive);

  // link-colors
  --root-color-link: #4da2ff;
  --root-color-link-border: rgba(77 163 255 / 88%);
  --root-color-link-visited: var(--root-color-system-visited);
  --root-color-link-visited-border: rgba(230 178 243 / 40%);

  // Socials colors
  --root-color-github: #bab8b8;
}

