---
import Header from '@components/layout/Header.astro';
import Footer from '@components/layout/Footer.astro';

import { Sprite } from 'astro-icon';

import '@scss/main.scss';
const { title } = Astro.props;
---
<html lang="ru" class="layout">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="layout__body">
    <Sprite.Provider />
    <Header />
    <slot />
    <Footer />
    <script>
      import '@js/main.js'
    </script>
  </body>
</html>