---
import BaseLayout from '../layouts/BaseLayout.astro';
const { frontmatter } = Astro.props;

---
<BaseLayout>
  <main class="layout__main">
    <aside class="tags">
      <ul class="tag-list">
        {frontmatter.tags.map((tag) => (
          <li class="tag-list__item"><a href={`/tags/${tag}`} class="tag-list__link">{tag}</a></li>
        ))}
      </ul>
    </aside>
    <p>Опубликовано: {frontmatter.dateUX}</p>
    <slot />
  </main>
</BaseLayout>